body {
    width: 300px;
    font-size: 10pt;
    overflow-x: hidden;
    margin: 0px;
}

#forums-list {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.link {
    margin-bottom: 2px;
}

.link0 {
    background-color: #069;
    color: #FFF;
    min-width: 100%;
    padding: 2px;
    text-align: center;
    margin-bottom: 5px;
}

.link1 {
    padding-left: 10px;
}

.link2 {
    padding-left: 20px;
}

.link3 {
    padding-left: 30px;
}

.link4 {
    padding-left: 40px;
}

.link5 {
    padding-left: 50px;
}

a {
    text-decoration: none;
}