a {
    cursor: pointer;
}

div#title-bar {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 20px;
}

div#view-buttons {
    float: left;
    text-align: right;
    position: absolute;
    left: 564px;
    top: 20px;
    padding-right: 40px;
}

div#post-options {
    padding-top: 4px;
    padding-bottom: 4px;
}

span.post-options {
    font-weight: bold;
    font-size: 0.8em;
}

div#submit-buttons {
    padding-top: 6px;
    text-align: right;
}

div.modal {
    width: 600px;
    height: 390px;
    display: block;
    float: left;
    position: fixed;
    left: 25%;
    bottom: 0px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px #999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
    -webkit-box-shadow: -1px -1px 12px rgba(0,0,0,0.25);
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

div.modal.show {
    -webkit-transform: translateY(0px);
}

textarea#post-message {
    width: 590px;
}

div#view-buttons {
    float: left;
    text-align: right;
    position: absolute;
    left: 577px;
    top: 20px;
    padding-right: 10px;
    width: 40px;
}

img.quick-reply-image {
  border-width: 0px;
}
