a {
    cursor: pointer;
}

div#title-bar {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 20px;
}

div#title-bar:hover {
    cursor: pointer;
}

div#view-buttons {
    float: left;
    text-align: right;
    position: absolute;
    left: 564px;
    top: 20px;
    padding-right: 40px;
}

div#post-options {
    padding-top: 4px;
    padding-bottom: 4px;
}

span.post-options {
    font-weight: bold;
    font-size: 0.8em;
}

div#submit-buttons {
    padding-top: 6px;
    text-align: right;
}

div.modal {
    width: 600px;
    height: 390px;
    display: block;
    float: left;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    bottom: 0px;
    padding: 20px;
    border: solid 1px #999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
    -webkit-box-shadow: -1px -1px 12px rgba(0,0,0,0.25);
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

div.modal.show {
    -webkit-transform: translateY(0px);
}

div#side-bar {
    width: 250px;
    height: 250px;
    display: block;
    float: right;
    position: fixed;
    bottom: 80px;
    padding: 20px;
    border: solid 1px #999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,255,255)), to(rgb(230,230,230)));
    -webkit-box-shadow: -1px -1px 12px rgba(0,0,0,0.25);
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

textarea#post-message {
    width: 590px;
}

div#view-buttons {
    float: left;
    text-align: right;
    position: absolute;
    left: 577px;
    top: 20px;
    padding-right: 10px;
    width: 40px;
}

img.quick-reply-image {
  border-width: 0px;
}

div.sidebar-menu {
    float: right;
    position: absolute;
    left: 620px;
    cursor: pointer;
}

div#smiley-menu {
    top: 75px;
}

div#tag-menu {
    top: 100px;
}

div#waffle-images-menu {
    top: 125px;
}

div#sidebar-list {
    border: solid 1px #999;
    position: relative;
    margin-left: 85px;
    width: 168px;
    height: 250px;
    overflow: auto;
}

img.loading-spinner {
    position: relative;
    left: 35px;
    top: 75px;
}

div.sidebar-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
}

div.sidebar-menu-item:hover {
    background: #ccc;
    cursor: pointer;
}

div#dropzone {
    position: relative;
}
div#dropzone input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
