div.qne_warn { padding:0.5em; color:#333; margin:1em 0; border:1px blue solid; }
div.qne_warn { background:#de94d6; }
div.qne_warn h4 { margin:0; padding-left:16px; background:url('http://fi.somethingawful.com/images/warning.gif') no-repeat left; }