div.qne_warn { 
    padding: 0.5em; 
    color: #333; 
    margin: 1em 0; 
    border: 1px blue solid; 
}

div.qne_warn { 
    background: #de94d6; 
}

div.qne_warn h4 { 
    margin: 0; 
    padding-left: 16px; 
    background: url('http://fi.somethingawful.com/images/warning.gif') no-repeat left; 
}

nav#page-nav {
    background: #006699;
    float: right;
    position: fixed;
    bottom: -50px;
    right: 10px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    -webkit-box-shadow: #000000 0px 0px 12px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
}

nav.displayed {
    -webkit-transform: translateY(-50px);
}

a.nav-button {
    position: relative;
    top: 4px;
}

select#number-drop-down {
    position: relative;
    top: -2px;
}

table.selected-post {
    -webkit-box-shadow: orange 0px 0px 15px;
}
