body {
	font-family: arial, sans;
    font-size: 8pt;
}

div.username-field, div.color-preference {
    width: 400px;
    float: left;
}
    
div.color-select-input {
    float: left;
    width: 350px;
	margin-top: 7px;
}
    
div.color-select {
    width: 36px;
    height: 36px;
    position: relative;
    float: left;
}

div.color-select-box {
    background-image: url('images/select.png');
    background-position: 50%;
    height: 24px;
    width: 24px;
    top: 6px;
    left: 6px;
    position: relative;
    float: right;
}

div.submit-panel {
    padding-top: 4px;
    text-align: right;
}

div.settings-group {
	padding: 10px 5px;
	border: 1px solid;
	border-color: #BBBBBB;
	margin-bottom: 10px;
}

span.settings-group-title {

	position: relative;
	top: 8px;
	left: 5px;
	background-color: #ffffff;
}

div.sub-options {
	padding-left: 16px;
}

div.disabled-options {
	color: #cccccc;
}


input#submit {
    border: 1px solid;
    border-color: #999999;
    background-color: #d8d8d8;
    font-size: 10pt;
}
