nav#threadnotes {
    background: #006699;
    float: right;
    position: fixed;
    bottom: -50px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-top: 3px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    margin-left: 5px;
    -webkit-box-shadow: #000000 0px 0px 12px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    text-align: center;
}

div#threadnotes-body {
    left: 0 auto;
}

div#threadnotes-body a {
    color: #FFF;
    width: 80px;
    padding: 10px;
    padding-left: 20px;
    margin-left: 3px;
}