div#dropzone {
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

div#dropzone a {
    color: black;
    font-size: 10pt;
    text-decoration: none;
}

div#dropzone input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

div#upload-label {
    display: none;
}

div#progress-bar {
    width: 152px; 
    border: 1px solid #999;
}

div#progress-bar span {
    width: 0px; 
    background: #ccc; 
    display: block; 
    height: 10px;
}

div#enter-url {
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

div#enter-url a {
    color: black;
}

div.drag-over {
    background: #9CE;
    border: 3px dashed black;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

div#img-result {
    display: none;
    position: relative;
    font-family: sans-serif;
    font-size: 10pt;
}

div#error {
    display: none;
    font-weight: bold;
    color: red;
    font-size: 10pt;
    font-family: sans-serif;
}
